<div class="col-md-4">
	<div id="sidebar" class="my-2 pr-0 pr-md-2">
		<p class="username center blue mt-1 py-1">@<a routerLink="/profile">{{ user.username }}</a></p>
		<div class="contacts">
			<p class="b-bottom pb-1 mt-2 text">Your Contacts</p>
			<div class="center">
				<button class="blue add-btn px-5 py-1 my-2" (click)="viewAdd=true"><i class="fas fa-plus"></i></button>
			</div>
			<div class="pt-1" *ngIf="user.contacts; else add">
				<contact *ngFor="let contact of user.contacts" [contact]="contact"></contact>
			</div>
			<ng-template #add>
				<p>No contacts</p>
			</ng-template>
		</div>
	</div> 
	<div *ngIf="viewAdd" class="modal" (click)="closeModal($event)">
		<div class="modal-content mx-auto bg py-3 px-4 animate__animated animate__fadeInUp animate__faster">
			<button class="float-right close red px-3 py-1" type="button" (click)="closeModal($event)">
				<i class="fas fa-times"></i>
			</button>
			<h2 class="teal">Add Contact</h2>
			<form (submit)="addContact()" ngNativeValidate class="center my-4">
				<div *ngIf="error">
					<p class="my-2 red">Either username doesn't exists or it's already added</p>
				</div>
				<div *ngIf="youCantAddYou">
					<p class="my-2 red">You cannot add yourself.</p>
				</div>
				<div>
					<label for="contactName">Enter Contact Username<br>
						<input type="text" [(ngModel)]="contactName" name="contactName" required>
					</label>
				</div>
				<div class="my-4">
					<button type="submit" class="px-3 py-1 btn-teal">Save</button> <br>
					<button type="button" class="px-3 py-1 close red mt-2" (click)="closeModal($event)">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
