<div class="col-md-6">
	<div class="pb-3 pt-2">
		<div id="sidebar" class="px-3">
			<p class="username blue mt-2">@{{ user.username }}</p>
			<button (click)="logout()">Logout</button>
			<div class="contacts">
				<div *ngIf="user.contacts; else add">
					<contact *ngFor="let contact of user.contacts" [contact]="contact"></contact>
				</div>
				<ng-template #add>
					<p>No contacts</p>
					<button class="px-3 py-1 btn-teal"><i class="fas fa-plus"></i> &nbsp; Add Contact</button>
				</ng-template>
			</div>
		</div>
	</div>
</div>
