.message {
	border-radius: 3px;
	&.it-not-me .text {
		background-color: var(--light-teal);
	}
	&.it-me .text {
		background-color: var(--teal);
	}
	&.it-me .username {
		color: white;
	} 
	&.it-not-me .username {
		color: var(--teal);
	} 
	&.it-me p {
		color: var(--light);
		text-align: right;
	}
	&.it-me p .text {
		color: var(--light);
		border-radius: 4px;
		padding-top: 0.225rem;
		padding-bottom: 0.225rem;
	}
	&.it-not-me p .text {
		padding-top: 0.225rem;
		padding-bottom: 0.225rem;
		color: var(--text);
		border-radius: 4px;
		background-color: rgb(237, 241, 245);
	}
	&.it-me + .date {
		text-align: right;
	}
	&.it-not-me + .date {
		text-align: left;
	}
}

.text {
	word-break: break-all;
}

.date {
	font-size: .8rem;
}

.username:hover {
	color: var(--blue);
}

.join {
	background-color: var(--light-blue);
}

.left {
	background-color: var(--light-red);
}

.join, .left {
	border-radius: 50px;
	font-family: 'nunito';
}