<section>
	<div class="row">
		<div class="col-md-7">
			<div class="center mt-5 mb-3 pt-0 pt-md-3 animate__animated animate__fadeInLeft animate__faster">
				<h1 class="title">Welcome to OpenChatBoard</h1>
				<p class="text my-2">Open-World chat application</p>
				<div class="mt-5">
					<img src="assets/img/icon512.png" alt="icon" width="200">
					<div class="mt-2">Icons made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="bg py-5 animate__animated animate__fadeInUp animate__faster">
				<div *ngIf="loading; else show" style="margin-top: 200px;">
					<loading></loading>
				</div>
				<ng-template #show>
					<div id="login" class="mt-0 mt-sm-5 pt-0 pt-sm-3">
						<h1 class="center blue mb-3">Login to the dashboard</h1>
						<form (submit)="login()" ngNativeValidate>
							<div class="mb-3 input-box" *ngIf="loginError">
								<label class="error center red px-3 py-1">Invalid credentials</label>
							</div>
							<div class="mb-3 input-box">
								<label for="username">Enter username <br> <input type="text" [(ngModel)]="loginUser.username" name="username" autocomplete="on"></label>
							</div>
							<div class="mb-3 input-box">
								<label for="username">Enter password <br> <input type="password" [(ngModel)]="loginUser.password" name="password" autocomplete="on"></label> 	
							</div>
							<div class="mb-3 input-box">
								<a routerLink="/sign-up" class="blue pr-3 py-1">Sign up instead</a>
								<button type="reset" class="btn-light red px-3 py-1 mr-3">Reset</button>
								<button type="submit" class="btn-blue px-3 py-1">Login</button>
							</div>
						</form>
					</div>
				</ng-template>
			</div>
		</div>
	</div>

</section>